http://135.181.39.195 {
    @websocket {
        header Connection *Upgrade*
        header Upgrade *websocket*
    }
    handle @websocket {
        reverse_proxy 127.0.0.1:8001
    }

    handle /embed* {
        uri strip_prefix /embed
        reverse_proxy 127.0.0.1:8001
    }

    handle /demo-reset {
        reverse_proxy 127.0.0.1:9003
    }

    handle {
        reverse_proxy 127.0.0.1:8001
    }
}

demo-dishcovery.kantrybes.lt {
    @websocket {
        header Connection *Upgrade*
        header Upgrade *websocket*
    }
    handle @websocket {
        reverse_proxy 127.0.0.1:8001
    }

    handle /embed* {
        header Content-Security-Policy "frame-ancestors 'self' https://www.kantrybes.lt https://kantrybes.lt"
        uri strip_prefix /embed
        reverse_proxy 127.0.0.1:8001
    }

    handle /demo-reset {
        reverse_proxy 127.0.0.1:9003
    }

    handle {
        reverse_proxy 127.0.0.1:8001
    }
}

demo-djbook.kantrybes.lt {
    @websocket {
        header Connection *Upgrade*
        header Upgrade *websocket*
    }
    handle @websocket {
        reverse_proxy 127.0.0.1:8002
    }

    handle /embed* {
        header Content-Security-Policy "frame-ancestors 'self' https://www.kantrybes.lt https://kantrybes.lt"
        uri strip_prefix /embed
        reverse_proxy 127.0.0.1:8002
    }

    handle /demo-reset {
        reverse_proxy 127.0.0.1:9003
    }

    handle {
        reverse_proxy 127.0.0.1:8002
    }
}

demo-steam.kantrybes.lt {
    reverse_proxy https://steam-recommender-web-production.up.railway.app {
        header_up Host steam-recommender-web-production.up.railway.app
    }
}

kantrybes.lt {
    redir https://www.kantrybes.lt{uri} permanent
}

demo-souvenir.kantrybes.lt {
    handle /query* {
        reverse_proxy 127.0.0.1:8004
    }

    handle /embed* {
        header Content-Security-Policy "frame-ancestors 'self' https://www.kantrybes.lt https://kantrybes.lt"
        uri strip_prefix /embed
        reverse_proxy 127.0.0.1:8003
    }

    handle {
        reverse_proxy 127.0.0.1:8003
    }
}
